In [1]:
import pandas as pd

df = pd.read_csv(
    "../nasa_full.csv",
    sep=",",
    comment="#"
)

df.shape

C:\Users\deept\AppData\Local\Temp\ipykernel_16908\1345021692.py:3: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(

(39235, 289)

In [2]:
df.head()

,rowid,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_dr2_id,gaia_dr3_id,default_flag,...,rowupdate,pl_pubdate,releasedate,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec,pl_ndispec
0,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,1,...,2023-09-19,2023-08,2023-09-19,2.0,1.0,2.0,0.0,0.0,0.0,0.0
1,2,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,0,...,2014-05-14,2008-01,2014-05-14,2.0,1.0,2.0,0.0,0.0,0.0,0.0
2,3,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,0,...,2014-07-23,2011-08,2014-07-23,2.0,1.0,2.0,0.0,0.0,0.0,0.0
3,4,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,Gaia DR3 1696798367260229376,0,...,2018-04-25,2009-10,2014-05-14,0.0,1.0,1.0,0.0,0.0,0.0,0.0
4,5,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,Gaia DR3 1696798367260229376,1,...,2018-09-04,2017-03,2018-09-06,0.0,1.0,1.0,0.0,0.0,0.0,0.0

In [12]:
df.columns

Index(['rowid', 'pl_name', 'hostname', 'pl_letter', 'hd_name', 'hip_name',
       'tic_id', 'gaia_dr2_id', 'gaia_dr3_id', 'default_flag',
       ...
       'rowupdate', 'pl_pubdate', 'releasedate', 'pl_nnotes', 'st_nphot',
       'st_nrvc', 'st_nspec', 'pl_nespec', 'pl_ntranspec', 'pl_ndispec'],
      dtype='object', length=289)

In [14]:
df.columns.tolist()

['rowid',
 'pl_name',
 'hostname',
 'pl_letter',
 'hd_name',
 'hip_name',
 'tic_id',
 'gaia_dr2_id',
 'gaia_dr3_id',
 'default_flag',
 'sy_snum',
 'sy_pnum',
 'sy_mnum',
 'cb_flag',
 'discoverymethod',
 'disc_year',
 'disc_refname',
 'disc_pubdate',
 'disc_locale',
 'disc_facility',
 'disc_telescope',
 'disc_instrument',
 'rv_flag',
 'pul_flag',
 'ptv_flag',
 'tran_flag',
 'ast_flag',
 'obm_flag',
 'micro_flag',
 'etv_flag',
 'ima_flag',
 'dkin_flag',
 'soltype',
 'pl_controv_flag',
 'pl_refname',
 'pl_orbper',
 'pl_orbpererr1',
 'pl_orbpererr2',
 'pl_orbperlim',
 'pl_orbsmax',
 'pl_orbsmaxerr1',
 'pl_orbsmaxerr2',
 'pl_orbsmaxlim',
 'pl_rade',
 'pl_radeerr1',
 'pl_radeerr2',
 'pl_radelim',
 'pl_radj',
 'pl_radjerr1',
 'pl_radjerr2',
 'pl_radjlim',
 'pl_masse',
 'pl_masseerr1',
 'pl_masseerr2',
 'pl_masselim',
 'pl_massj',
 'pl_massjerr1',
 'pl_massjerr2',
 'pl_massjlim',
 'pl_msinie',
 'pl_msinieerr1',
 'pl_msinieerr2',
 'pl_msinielim',
 'pl_msinij',
 'pl_msinijerr1',
 'pl_msinijerr2',
 'pl_msinijlim',
 'pl_cmasse',
 'pl_cmasseerr1',
 'pl_cmasseerr2',
 'pl_cmasselim',
 'pl_cmassj',
 'pl_cmassjerr1',
 'pl_cmassjerr2',
 'pl_cmassjlim',
 'pl_bmasse',
 'pl_bmasseerr1',
 'pl_bmasseerr2',
 'pl_bmasselim',
 'pl_bmassj',
 'pl_bmassjerr1',
 'pl_bmassjerr2',
 'pl_bmassjlim',
 'pl_bmassprov',
 'pl_dens',
 'pl_denserr1',
 'pl_denserr2',
 'pl_denslim',
 'pl_orbeccen',
 'pl_orbeccenerr1',
 'pl_orbeccenerr2',
 'pl_orbeccenlim',
 'pl_insol',
 'pl_insolerr1',
 'pl_insolerr2',
 'pl_insollim',
 'pl_eqt',
 'pl_eqterr1',
 'pl_eqterr2',
 'pl_eqtlim',
 'pl_orbincl',
 'pl_orbinclerr1',
 'pl_orbinclerr2',
 'pl_orbincllim',
 'pl_tranmid',
 'pl_tranmiderr1',
 'pl_tranmiderr2',
 'pl_tranmidlim',
 'pl_tsystemref',
 'ttv_flag',
 'pl_imppar',
 'pl_impparerr1',
 'pl_impparerr2',
 'pl_impparlim',
 'pl_trandep',
 'pl_trandeperr1',
 'pl_trandeperr2',
 'pl_trandeplim',
 'pl_trandur',
 'pl_trandurerr1',
 'pl_trandurerr2',
 'pl_trandurlim',
 'pl_ratdor',
 'pl_ratdorerr1',
 'pl_ratdorerr2',
 'pl_ratdorlim',
 'pl_ratror',
 'pl_ratrorerr1',
 'pl_ratrorerr2',
 'pl_ratrorlim',
 'pl_occdep',
 'pl_occdeperr1',
 'pl_occdeperr2',
 'pl_occdeplim',
 'pl_orbtper',
 'pl_orbtpererr1',
 'pl_orbtpererr2',
 'pl_orbtperlim',
 'pl_orblper',
 'pl_orblpererr1',
 'pl_orblpererr2',
 'pl_orblperlim',
 'pl_rvamp',
 'pl_rvamperr1',
 'pl_rvamperr2',
 'pl_rvamplim',
 'pl_projobliq',
 'pl_projobliqerr1',
 'pl_projobliqerr2',
 'pl_projobliqlim',
 'pl_trueobliq',
 'pl_trueobliqerr1',
 'pl_trueobliqerr2',
 'pl_trueobliqlim',
 'st_refname',
 'st_spectype',
 'st_teff',
 'st_tefferr1',
 'st_tefferr2',
 'st_tefflim',
 'st_rad',
 'st_raderr1',
 'st_raderr2',
 'st_radlim',
 'st_mass',
 'st_masserr1',
 'st_masserr2',
 'st_masslim',
 'st_met',
 'st_meterr1',
 'st_meterr2',
 'st_metlim',
 'st_metratio',
 'st_lum',
 'st_lumerr1',
 'st_lumerr2',
 'st_lumlim',
 'st_logg',
 'st_loggerr1',
 'st_loggerr2',
 'st_logglim',
 'st_age',
 'st_ageerr1',
 'st_ageerr2',
 'st_agelim',
 'st_dens',
 'st_denserr1',
 'st_denserr2',
 'st_denslim',
 'st_vsin',
 'st_vsinerr1',
 'st_vsinerr2',
 'st_vsinlim',
 'st_rotp',
 'st_rotperr1',
 'st_rotperr2',
 'st_rotplim',
 'st_radv',
 'st_radverr1',
 'st_radverr2',
 'st_radvlim',
 'sy_refname',
 'rastr',
 'ra',
 'decstr',
 'dec',
 'glat',
 'glon',
 'elat',
 'elon',
 'sy_pm',
 'sy_pmerr1',
 'sy_pmerr2',
 'sy_pmra',
 'sy_pmraerr1',
 'sy_pmraerr2',
 'sy_pmdec',
 'sy_pmdecerr1',
 'sy_pmdecerr2',
 'sy_dist',
 'sy_disterr1',
 'sy_disterr2',
 'sy_plx',
 'sy_plxerr1',
 'sy_plxerr2',
 'sy_bmag',
 'sy_bmagerr1',
 'sy_bmagerr2',
 'sy_vmag',
 'sy_vmagerr1',
 'sy_vmagerr2',
 'sy_jmag',
 'sy_jmagerr1',
 'sy_jmagerr2',
 'sy_hmag',
 'sy_hmagerr1',
 'sy_hmagerr2',
 'sy_kmag',
 'sy_kmagerr1',
 'sy_kmagerr2',
 'sy_umag',
 'sy_umagerr1',
 'sy_umagerr2',
 'sy_gmag',
 'sy_gmagerr1',
 'sy_gmagerr2',
 'sy_rmag',
 'sy_rmagerr1',
 'sy_rmagerr2',
 'sy_imag',
 'sy_imagerr1',
 'sy_imagerr2',
 'sy_zmag',
 'sy_zmagerr1',
 'sy_zmagerr2',
 'sy_w1mag',
 'sy_w1magerr1',
 'sy_w1magerr2',
 'sy_w2mag',
 'sy_w2magerr1',
 'sy_w2magerr2',
 'sy_w3mag',
 'sy_w3magerr1',
 'sy_w3magerr2',
 'sy_w4mag',
 'sy_w4magerr1',
 'sy_w4magerr2',
 'sy_gaiamag',
 'sy_gaiamagerr1',
 'sy_gaiamagerr2',
 'sy_icmag',
 'sy_icmagerr1',
 'sy_icmagerr2',
 'sy_tmag',
 'sy_tmagerr1',
 'sy_tmagerr2',
 'sy_kepmag',
 'sy_kepmagerr1',
 'sy_kepmagerr2',
 'rowupdate',
 'pl_pubdate',
 'releasedate',
 'pl_nnotes',
 'st_nphot',
 'st_nrvc',
 'st_nspec',
 'pl_nespec',
 'pl_ntranspec',
 'pl_ndispec']

In [16]:
len(df.columns)

289

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39235 entries, 0 to 39234
Columns: 289 entries, rowid to pl_ndispec
dtypes: float64(254), int64(7), object(28)
memory usage: 86.5+ MB

In [20]:
df.isna().sum().sort_values(ascending=False).head(10)

sy_kepmagerr2       39235
sy_kepmagerr1       39235
sy_icmagerr1        39195
sy_icmagerr2        39195
pl_occdeperr2       39191
pl_occdeperr1       39191
sy_icmag            39190
pl_occdep           39188
pl_occdeplim        39188
pl_trueobliqerr1    39173
dtype: int64

In [22]:
df.select_dtypes(include=["number"]).columns.tolist()

['rowid',
 'default_flag',
 'sy_snum',
 'sy_pnum',
 'sy_mnum',
 'cb_flag',
 'disc_year',
 'rv_flag',
 'pul_flag',
 'ptv_flag',
 'tran_flag',
 'ast_flag',
 'obm_flag',
 'micro_flag',
 'etv_flag',
 'ima_flag',
 'dkin_flag',
 'pl_controv_flag',
 'pl_orbper',
 'pl_orbpererr1',
 'pl_orbpererr2',
 'pl_orbperlim',
 'pl_orbsmax',
 'pl_orbsmaxerr1',
 'pl_orbsmaxerr2',
 'pl_orbsmaxlim',
 'pl_rade',
 'pl_radeerr1',
 'pl_radeerr2',
 'pl_radelim',
 'pl_radj',
 'pl_radjerr1',
 'pl_radjerr2',
 'pl_radjlim',
 'pl_masse',
 'pl_masseerr1',
 'pl_masseerr2',
 'pl_masselim',
 'pl_massj',
 'pl_massjerr1',
 'pl_massjerr2',
 'pl_massjlim',
 'pl_msinie',
 'pl_msinieerr1',
 'pl_msinieerr2',
 'pl_msinielim',
 'pl_msinij',
 'pl_msinijerr1',
 'pl_msinijerr2',
 'pl_msinijlim',
 'pl_cmasse',
 'pl_cmasseerr1',
 'pl_cmasseerr2',
 'pl_cmasselim',
 'pl_cmassj',
 'pl_cmassjerr1',
 'pl_cmassjerr2',
 'pl_cmassjlim',
 'pl_bmasse',
 'pl_bmasseerr1',
 'pl_bmasseerr2',
 'pl_bmasselim',
 'pl_bmassj',
 'pl_bmassjerr1',
 'pl_bmassjerr2',
 'pl_bmassjlim',
 'pl_dens',
 'pl_denserr1',
 'pl_denserr2',
 'pl_denslim',
 'pl_orbeccen',
 'pl_orbeccenerr1',
 'pl_orbeccenerr2',
 'pl_orbeccenlim',
 'pl_insol',
 'pl_insolerr1',
 'pl_insolerr2',
 'pl_insollim',
 'pl_eqt',
 'pl_eqterr1',
 'pl_eqterr2',
 'pl_eqtlim',
 'pl_orbincl',
 'pl_orbinclerr1',
 'pl_orbinclerr2',
 'pl_orbincllim',
 'pl_tranmid',
 'pl_tranmiderr1',
 'pl_tranmiderr2',
 'pl_tranmidlim',
 'ttv_flag',
 'pl_imppar',
 'pl_impparerr1',
 'pl_impparerr2',
 'pl_impparlim',
 'pl_trandep',
 'pl_trandeperr1',
 'pl_trandeperr2',
 'pl_trandeplim',
 'pl_trandur',
 'pl_trandurerr1',
 'pl_trandurerr2',
 'pl_trandurlim',
 'pl_ratdor',
 'pl_ratdorerr1',
 'pl_ratdorerr2',
 'pl_ratdorlim',
 'pl_ratror',
 'pl_ratrorerr1',
 'pl_ratrorerr2',
 'pl_ratrorlim',
 'pl_occdep',
 'pl_occdeperr1',
 'pl_occdeperr2',
 'pl_occdeplim',
 'pl_orbtper',
 'pl_orbtpererr1',
 'pl_orbtpererr2',
 'pl_orbtperlim',
 'pl_orblper',
 'pl_orblpererr1',
 'pl_orblpererr2',
 'pl_orblperlim',
 'pl_rvamp',
 'pl_rvamperr1',
 'pl_rvamperr2',
 'pl_rvamplim',
 'pl_projobliq',
 'pl_projobliqerr1',
 'pl_projobliqerr2',
 'pl_projobliqlim',
 'pl_trueobliq',
 'pl_trueobliqerr1',
 'pl_trueobliqerr2',
 'pl_trueobliqlim',
 'st_teff',
 'st_tefferr1',
 'st_tefferr2',
 'st_tefflim',
 'st_rad',
 'st_raderr1',
 'st_raderr2',
 'st_radlim',
 'st_mass',
 'st_masserr1',
 'st_masserr2',
 'st_masslim',
 'st_met',
 'st_meterr1',
 'st_meterr2',
 'st_metlim',
 'st_lum',
 'st_lumerr1',
 'st_lumerr2',
 'st_lumlim',
 'st_logg',
 'st_loggerr1',
 'st_loggerr2',
 'st_logglim',
 'st_age',
 'st_ageerr1',
 'st_ageerr2',
 'st_agelim',
 'st_dens',
 'st_denserr1',
 'st_denserr2',
 'st_denslim',
 'st_vsin',
 'st_vsinerr1',
 'st_vsinerr2',
 'st_vsinlim',
 'st_rotp',
 'st_rotperr1',
 'st_rotperr2',
 'st_rotplim',
 'st_radv',
 'st_radverr1',
 'st_radverr2',
 'st_radvlim',
 'ra',
 'dec',
 'glat',
 'glon',
 'elat',
 'elon',
 'sy_pm',
 'sy_pmerr1',
 'sy_pmerr2',
 'sy_pmra',
 'sy_pmraerr1',
 'sy_pmraerr2',
 'sy_pmdec',
 'sy_pmdecerr1',
 'sy_pmdecerr2',
 'sy_dist',
 'sy_disterr1',
 'sy_disterr2',
 'sy_plx',
 'sy_plxerr1',
 'sy_plxerr2',
 'sy_bmag',
 'sy_bmagerr1',
 'sy_bmagerr2',
 'sy_vmag',
 'sy_vmagerr1',
 'sy_vmagerr2',
 'sy_jmag',
 'sy_jmagerr1',
 'sy_jmagerr2',
 'sy_hmag',
 'sy_hmagerr1',
 'sy_hmagerr2',
 'sy_kmag',
 'sy_kmagerr1',
 'sy_kmagerr2',
 'sy_umag',
 'sy_umagerr1',
 'sy_umagerr2',
 'sy_gmag',
 'sy_gmagerr1',
 'sy_gmagerr2',
 'sy_rmag',
 'sy_rmagerr1',
 'sy_rmagerr2',
 'sy_imag',
 'sy_imagerr1',
 'sy_imagerr2',
 'sy_zmag',
 'sy_zmagerr1',
 'sy_zmagerr2',
 'sy_w1mag',
 'sy_w1magerr1',
 'sy_w1magerr2',
 'sy_w2mag',
 'sy_w2magerr1',
 'sy_w2magerr2',
 'sy_w3mag',
 'sy_w3magerr1',
 'sy_w3magerr2',
 'sy_w4mag',
 'sy_w4magerr1',
 'sy_w4magerr2',
 'sy_gaiamag',
 'sy_gaiamagerr1',
 'sy_gaiamagerr2',
 'sy_icmag',
 'sy_icmagerr1',
 'sy_icmagerr2',
 'sy_tmag',
 'sy_tmagerr1',
 'sy_tmagerr2',
 'sy_kepmag',
 'sy_kepmagerr1',
 'sy_kepmagerr2',
 'pl_nnotes',
 'st_nphot',
 'st_nrvc',
 'st_nspec',
 'pl_nespec',
 'pl_ntranspec',
 'pl_ndispec']

In [24]:
df.describe()

,rowid,default_flag,sy_snum,sy_pnum,sy_mnum,cb_flag,disc_year,rv_flag,pul_flag,ptv_flag,...,sy_kepmag,sy_kepmagerr1,sy_kepmagerr2,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec,pl_ndispec
count,39235.000000,39235.000000,39235.000000,39235.000000,39235.0,39235.000000,39235.000000,39215.000000,39215.000000,39215.000000,...,31149.000000,0.0,0.0,39185.000000,39185.000000,39185.000000,39185.000000,39185.000000,39185.000000,39185.000000
mean,19618.000000,0.154734,1.085281,1.918389,0.0,0.002421,2015.536281,0.250695,0.000332,0.000051,...,14.113425,NaN,NaN,1.023070,0.471226,0.196249,0.110068,0.109200,0.215516,0.005487
std,11326.313242,0.361656,0.308527,1.238380,0.0,0.049148,4.006345,0.433419,0.018205,0.007141,...,1.438626,NaN,NaN,1.124624,3.796697,0.887490,0.777981,0.933718,1.583308,0.153878
min,1.000000,0.000000,1.000000,1.000000,0.0,0.000000,1992.000000,0.000000,0.000000,0.000000,...,5.973000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9809.500000,0.000000,1.000000,1.000000,0.0,0.000000,2014.000000,0.000000,0.000000,0.000000,...,13.353000,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,19618.000000,0.000000,1.000000,1.000000,0.0,0.000000,2016.000000,0.000000,0.000000,0.000000,...,14.417000,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,29426.500000,0.000000,1.000000,2.000000,0.0,0.000000,2016.000000,1.000000,0.000000,0.000000,...,15.212000,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,39235.000000,1.000000,4.000000,8.000000,0.0,1.000000,2026.000000,1.000000,1.000000,1.000000,...,17.475000,NaN,NaN,16.000000,70.000000,12.000000,13.000000,19.000000,32.000000,6.000000

In [27]:
df.select_dtypes(include=["object"]).columns.tolist()

['pl_name',
 'hostname',
 'pl_letter',
 'hd_name',
 'hip_name',
 'tic_id',
 'gaia_dr2_id',
 'gaia_dr3_id',
 'discoverymethod',
 'disc_refname',
 'disc_pubdate',
 'disc_locale',
 'disc_facility',
 'disc_telescope',
 'disc_instrument',
 'soltype',
 'pl_refname',
 'pl_bmassprov',
 'pl_tsystemref',
 'st_refname',
 'st_spectype',
 'st_metratio',
 'sy_refname',
 'rastr',
 'decstr',
 'rowupdate',
 'pl_pubdate',
 'releasedate']

In [29]:
df.shape

(39235, 289)

In [31]:
df.head(3)

,rowid,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_dr2_id,gaia_dr3_id,default_flag,...,rowupdate,pl_pubdate,releasedate,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec,pl_ndispec
0,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,1,...,2023-09-19,2023-08,2023-09-19,2.0,1.0,2.0,0.0,0.0,0.0,0.0
1,2,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,0,...,2014-05-14,2008-01,2014-05-14,2.0,1.0,2.0,0.0,0.0,0.0,0.0
2,3,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,0,...,2014-07-23,2011-08,2014-07-23,2.0,1.0,2.0,0.0,0.0,0.0,0.0

In [33]:
habitability_columns = [
    "pl_orbper",
    "pl_orbsmax",
    "pl_rade",
    "pl_bmasse",
    "pl_insol",
    "pl_eqt",
    "st_teff",
    "st_rad",
    "st_mass",
    "st_lum"
]

[c for c in habitability_columns if c in df.columns]

['pl_orbper',
 'pl_orbsmax',
 'pl_rade',
 'pl_bmasse',
 'pl_insol',
 'pl_eqt',
 'st_teff',
 'st_rad',
 'st_mass',
 'st_lum']

In [35]:
selected_columns = [
    "pl_orbper",
    "pl_orbsmax",
    "pl_rade",
    "pl_bmasse",
    "pl_insol",
    "pl_eqt",
    "st_teff",
    "st_rad",
    "st_mass",
    "st_lum"
]

df_selected = df[selected_columns]
df_selected.shape

(39235, 10)

In [37]:
df_selected.head()

,pl_orbper,pl_orbsmax,pl_rade,pl_bmasse,pl_insol,pl_eqt,st_teff,st_rad,st_mass,st_lum
0,323.21000,1.178,NaN,4914.898486,NaN,NaN,4874.0,13.76,2.09,1.97823
1,326.03000,1.290,NaN,6165.600000,NaN,NaN,4742.0,19.00,2.70,2.24300
2,NaN,1.210,NaN,5434.700000,NaN,NaN,NaN,NaN,2.60,NaN
3,516.22000,1.540,NaN,3337.070000,NaN,NaN,4340.0,24.08,1.80,NaN
4,516.21997,1.530,NaN,4684.814200,NaN,NaN,4213.0,29.79,2.78,NaN

In [39]:
df_selected.isna().sum()

pl_orbper      3343
pl_orbsmax    17285
pl_rade       12199
pl_bmasse     32141
pl_insol      22112
pl_eqt        22030
st_teff        3528
st_rad         3284
st_mass        6133
st_lum        29585
dtype: int64

In [41]:
df_selected.describe()

,pl_orbper,pl_orbsmax,pl_rade,pl_bmasse,pl_insol,pl_eqt,st_teff,st_rad,st_mass,st_lum
count,3.589200e+04,21950.000000,27036.000000,7094.000000,17123.000000,17205.000000,35707.000000,35951.000000,33102.000000,9650.000000
mean,1.218759e+04,4.730897,5.452303,742.918323,361.508898,880.401118,5461.698333,1.152111,0.943398,-0.149235
std,2.123144e+06,181.010960,71.871099,1560.512020,1383.000560,428.689264,994.025692,1.782154,0.324056,0.718417
min,9.070629e-02,0.004400,0.270000,0.015000,0.000300,34.000000,415.000000,0.012300,0.003100,-4.660000
25%,4.393159e+00,0.054500,1.550000,13.400000,22.185000,568.000000,5098.500000,0.787000,0.810000,-0.461190
50%,1.033929e+01,0.100800,2.300000,193.081725,86.270000,797.000000,5613.000000,0.951000,0.959000,-0.082210
75%,2.665656e+01,0.219000,3.263000,689.349082,293.930000,1105.000000,5951.000000,1.213885,1.071000,0.304137
max,4.020000e+08,19000.000000,4282.980000,25426.400000,58192.750000,4050.000000,57000.000000,88.475000,23.560000,3.260760

In [6]:
import pandas as pd

df = pd.read_csv(
    "../nasa_full.csv",
    sep=",",
    comment="#"
)

selected_columns = [
    "pl_orbper",
    "pl_orbsmax",
    "pl_rade",
    "pl_bmasse",
    "pl_insol",
    "pl_eqt",
    "st_teff",
    "st_rad",
    "st_mass",
    "st_lum"
]

df_selected = df[selected_columns]

C:\Users\deept\AppData\Local\Temp\ipykernel_16908\1287438038.py:3: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(

In [8]:
df_selected.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39235 entries, 0 to 39234
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   pl_orbper   35892 non-null  float64
 1   pl_orbsmax  21950 non-null  float64
 2   pl_rade     27036 non-null  float64
 3   pl_bmasse   7094 non-null   float64
 4   pl_insol    17123 non-null  float64
 5   pl_eqt      17205 non-null  float64
 6   st_teff     35707 non-null  float64
 7   st_rad      35951 non-null  float64
 8   st_mass     33102 non-null  float64
 9   st_lum      9650 non-null   float64
dtypes: float64(10)
memory usage: 3.0 MB

In [12]:
df_selected.isna().mean().sort_values(ascending=False)

pl_bmasse     0.819192
st_lum        0.754046
pl_insol      0.563578
pl_eqt        0.561488
pl_orbsmax    0.440551
pl_rade       0.310921
st_mass       0.156315
st_teff       0.089920
pl_orbper     0.085205
st_rad        0.083701
dtype: float64

In [14]:
df_selected.isna().sum()

pl_orbper      3343
pl_orbsmax    17285
pl_rade       12199
pl_bmasse     32141
pl_insol      22112
pl_eqt        22030
st_teff        3528
st_rad         3284
st_mass        6133
st_lum        29585
dtype: int64

In [16]:
df_selected.dropna().shape

(419, 10)

In [18]:
df_selected.fillna(df_selected.median()).isna().sum()

pl_orbper     0
pl_orbsmax    0
pl_rade       0
pl_bmasse     0
pl_insol      0
pl_eqt        0
st_teff       0
st_rad        0
st_mass       0
st_lum        0
dtype: int64

In [19]:
df_clean = df_selected.fillna(df_selected.median())
df_clean.shape

(39235, 10)